
ion-footer {
	&:before {
		display: none;
		visibility: hidden;
	}
	ion-toolbar {
		--background: transparent;
		.toolbar-container {
			--padding-top: 0;
			--padding-bottom: 0;
			--padding-start: 0;
			--padding-end: 0;
		}
		ion-button {
		    width: 100%;
		    height: 56px;
		    position: relative;
		    display: block;
		    margin: 0;
		    border-radius: 0;
	    	font-weight: bold; 

		    &.azul {
			    --ion-color-base: white !important;
			    --ion-color-contrast: var(--ion-color-azul) !important;
		    }
		    &.rosa {
			    --ion-color-base: white !important;
			    --ion-color-contrast: var(--ion-color-rosa) !important;
		    }
		    &.verde {
			    --ion-color-base: white !important;
			    --ion-color-contrast: var(--ion-color-verde) !important;
		    }
		    &.amarelo {
			    --ion-color-base: black !important;
			    --ion-color-contrast: var(--ion-color-amarelo) !important;
		    }
		}
	}
}


ion-card {

    background: #fafafa;
    ion-list {
    	padding: 0;
    }
    ion-list, ion-item { 
    --background: #fafafa;
    }
}

.box-notas {
	ion-button {
		width: 100%;
	}
}