
#preview {
	height:100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
	video {
		border-radius: 0px !important;
		height: 100vh;
	}

}