
<ion-grid fixed>
  <ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="academico-aba1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academico-aba3">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Turmas</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="academico-aba2" class="ion-order-2">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Pedagógico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academico-aba4" class="ion-order-1">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Meu perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-grid>