<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="AppVersion">
    <param name="ios-package" value="AppVersion"/>
  </feature>

  <feature name="BackgroundMode">
    <param name="ios-package" value="APPBackgroundMode" onload="true"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Ftp">
    <param name="ios-package" value="CDVFtp"/>
  </feature>

  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="Toast">
    <param name="ios-package" value="Toast"/>
  </feature>

  <feature name="SelectorCordovaPlugin">
    <param name="ios-package" value="SelectorCordovaPlugin" onload="true"/>
  </feature>

  <feature name="MobileAccessibility">
    <param name="ios-package" value="CDVMobileAccessibility" onload="true"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  
  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="20" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="FadeSplashScreenDuration" value="300" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
</widget>